@import '../../global/utilitites/vars';

.suppliers-list {
  height: 100vh;
  display: flex;
  justify-content: center;
  &__content {
    width: 100%;
  }
  &__wrapper-table {
    @media #{$max-sm} {
      overflow-x: scroll;
    }
  }
  &__instruction {
    display: none;
    @media #{$max-sm} {
      display: block;
      text-align: center;
    }
  }
}